#cource-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid currentColor;
}

#cource-table td {
  border: 1px solid currentColor;
  padding: 0.5rem 1rem;
  height: 5rem;
  overflow-wrap: break-word;
  overflow: auto;
}

#cource-table .syllabus-link {
  background-color: #eaf4fc;
  text-decoration: none;
}
